
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Jura-VariableFont_wght";
  font-weight: normal;
  src: url("./Fonts/Jura-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Kavoon-Regular";
  font-weight: normal;
  src: url("./Fonts/Kavoon-Regular.ttf") format("truetype");
}

body {
  font-family: "Jura-VariableFont_wght";
}

body {
  font-family: "Kavoon-Regular";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 영어 폰트 */
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: url("./Fonts/Jura-VariableFont_wght.woff") format("woff");
  unicode-range: U+0041-005A, U+0061-007A,  U+0030-0039;
}

@font-face {
  font-family: "Jura_Bold";
  font-style: normal;
  font-weight: 500;
  src: url("./Fonts/Jura-Bold.woff") format("woff");
  unicode-range: U+0041-005A, U+0061-007A,  U+0030-0039;
}

/* 로고 폰트 */
@font-face {
  font-family: "Kavoon";
  font-style: normal;
  font-weight: 500;
  src: url("./Fonts/Kavoon-Regular.woff") format("woff");
}

/* 한글 폰트*/
 @font-face {
  font-family: "NEXONGothic";
  font-style: normal;
  font-weight: 100;
  src: url("./Fonts/NEXON-Lv1-GothicOTF.woff") format("woff");
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-weight: 100;
  src: url("./Fonts/SCDream5.woff") format("woff");
  unicode-range: U+AC00-D7A3;
}

